.App {
  font-family: sans-serif;
  text-align: center;
}
.accordions {
  padding: 20px;
  color: white;
  margin: 15x;
}

.div {
  display: flex;
  justify-content: left;
  color: white;
  background: red;
  align-items: center;
}
.span {
  background: black;
  position: relative;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
}
